<div class="background-color-profile">

<%= render "shared/topnav" %>

  <div class="container">
    <%= link_to "Mon Profil", profile_path, class: " btn btn-unswitch"  %><%= link_to "Mes Amis", friendships_path, class: " btn btn-switch tiny-shad"  %>
  </div>
    <!-- <div ><%#= cl_image_tag @current_user.avatar, :class => "top-avatar bt-white" %></div> -->


  <div class="title-thema icons-down">Programmes completés</div>
  <div class="elements">
    <% @programs_completed.each do |user_program| %>
      <%= link_to program_path(user_program.program), class: 'element' do %>
        <!-- <div class="element"> -->
          <div class="badge-tasks <%= current_badge(user_program.program.category) %>">
            <%= cl_image_tag user_program.program.icon, crop: :fill, height: 30 %>
          </div>
          <div class="program-title-task"><%= user_program.program.title %></div>
        <!-- </div> -->
      <% end %>
    <% end %>
  </div> <!-- elements -->

  <div class="title-thema icons-down" >Challenges completés</div>
  <div class="elements mb-4">

  <% @challenges_completed.each do |user_challenge| %>
    <%= link_to challenge_path(user_challenge.challenge), class: 'element' do %>
      <!-- <div class="element"> -->
        <div class="badge-tasks <%= current_badge(user_challenge.challenge.category) %>">
          <%= cl_image_tag user_challenge.challenge.icon, crop: :fill, height: 30 %>
        </div>
        <div class="program-title-task"><%= user_challenge.challenge.title %></div>
      <!-- </div> -->
    <% end %>
  <% end %>
  </div> <!-- elements -->
  <hr width="70%">
  <div class="text-center">
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn logout mt-3 mb-5" %>
  </div>
</div>


