<div class="background-color-profile">
  <div class="pseudo text-capitalize" id="dash-ban"><%= current_user.pseudo %>
    <div ><%= cl_image_tag @current_user.avatar, :class => "top-avatar bt-white" %></div>
  </div>

  <div class="container">
    <%= link_to "Mon Profil", profile_path, class: " btn btn-unswitch"  %><%= link_to "Mes Amis", friendships_path, class: " btn btn-switch tiny-shad"  %>

  <div class="title-thema icons-down">Programmes completés</div>
  <div class="elements">
    <% @programs_completed.each do |user_program| %>
      <%= link_to program_path(user_program.program) do %>
      <div class="element">
        <div class="badge-tasks <%= current_badge(user_program.program.category) %>">
          <%= cl_image_tag user_program.program.icon, crop: :fill, height: 30 %>
        </div>
        <div class="program-title-task"><%= user_program.program.title %></div>
      </div>
      <% end %>
    <% end %>
  </div> <!-- elements -->

  <div class="title-thema icons-down" >Challenges completés</div>
  <div class="elements">

  <% @challenges_completed.each do |user_challenge| %>

    <%= link_to challenge_path(user_challenge.challenge) do %>
    <div class="element">
      <div class="badge-tasks <%= current_badge(user_challenge.challenge.category) %>">
        <%= cl_image_tag user_challenge.challenge.icon, crop: :fill, height: 30 %>
      </div>
      <div class="program-title-task"><%= user_challenge.challenge.title %></div>
    </div>
    <% end %>
  <% end %>
  </div> <!-- elements -->
</div>



