<div class="signup-container">
  <h2 class="h1-signup">Enregistrez-vous</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :pseudo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "pseudo" },
                  label_html: { class: "h2-signup" },
                  label: 'Pseudo',
                  required: false %>

      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label_html: { class: "h2-signup" },
                  label: 'Email',
                  required: false %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label_html: { class: "h2-signup" },
                  label: 'Mot de passe',
                  required: false %>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label_html: { class: "h2-signup" },
                  label: 'Confirmez votre mot de passe',
                  required: false %>
      <%= f.input :avatar,
                  input_html: { id: 'avatar-preview'} %>

      <%= f.input :avatar_cache, as: :hidden %>
    </div>
    <div class="image-preview m-3"  id="imagePreview">
      <img src="" alt="" class="image-preview__image badge-avatar-preview bt-white mt-3">
    </div>
    <div class="form-actions">
    <%= image_tag "koala_signup.png", class: "img-signup mt-3" %>
      <%= f.button :submit, "S'enregistrer", :class =>" btn-main btn-pos" %>
    </div>
  <% end %>
</div>

<script>
  const Ifile = document.getElementById("avatar-preview")
  const previewContainer = document.getElementById("imagePreview")
  const previewImage = previewContainer.querySelector(".image-preview__image")

  Ifile.addEventListener("change", function() {
    const file = this.files[0];

    if (file) {
        const reader = new FileReader();

        previewImage.style.display = "block";

        reader.addEventListener("load", function() {
          previewImage.setAttribute("src", this.result);
        });
        reader.readAsDataURL(file);
    } else {
      previewImage.style.display = null;
    }

  });
</script>
