<% if @task.program.category == "Déchets" %>
  <div class="wrapper background-color-task-waste">
<% elsif @program.category == "Nourriture" %>
  <div class="wrapper background-color-task-food">
<% elsif @program.category == "Transport" %>
  <div class="wrapper background-color-task-transport">
<% else %>
  <div class="wrapper background-color-task-energy">
<% end %>
  <div class="container text-align: center">

  <%= link_to program_path(@task.program) do %>
  <i class="far fa-times-circle fa-2x"></i>
  <% end %>
  <br>

    <div class="wrapper text-center">
      <div class="d-flex justify-content-center mb-4">
        <h4 class="task-numbers"><strong><%= @task.position %></strong></h4>
        <p class="task-count"> /<%= @program.tasks.count %></p>
      </div>
      <div class="icon-task mb-4">
        <%= cl_image_tag @task.program.icon %>
      </div>
      <br>
      <hr width="50%"/>
      <h2 class="title-thema pt-2 pb-2"><%= @task.title %></h2>
      <hr width="50%"/>
      <br>

      <% if @user_task.completed %>
        <h2 class="modal-thema mt-5 mb-4">🎉 Félicitations !</h2>
      <% else %>
        <%= link_to "Valider", done_user_task_path(@user_task), method: :patch, class: "btn btn-light button-white", id: "validation", data: { disable_with: false }%>

      <% end %>
    </div>

  </div>
</div>

