<div class="container">
  <h2>Nourriture</h2>
  <% @programs_food.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_food[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Déchets</h2>
  <% @programs_waste.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_waste[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Energie</h2>
   <% @programs_energy.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_energy[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Transport</h2>
  <% @programs_transport.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_transport[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
    <% end %>
</div>
