<div class="container">
  <h2>Nourriture</h2>
  <% @programs_food.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_food[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Déchets</h2>
  <% @programs_waste.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_waste[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Energie</h2>
   <% @programs_energy.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_energy[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
  <% end %>

  <h2>Transport</h2>
  <% @programs_transport.each_with_index do |program, index| %>
      <%= program.title %>

<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
      <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_transport[index - 1].completed? %>
        <%= link_to "go", program_path(program) %>
      <% end %>
    <% end %>
    <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Nourriture</div>

        <div class="elements bkg-yellow">

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 2</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 3</div>
          </div>

        </div>

      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Déchets</div>

        <div class="elements">

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 2</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 3</div>
          </div>

        </div>

      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Energie</div>

        <div class="elements badge-tasks bkg-yellow">

          <div class="element">
            <!-- <img src="https://via.placeholder.com/64" /> -->
            <div class="program-title-task">Un nouveau départ</div>
          </div>

          <div class="element badge-tasks">
            <!-- <img src="https://via.placeholder.com/64" /> -->
            <div class="program-title-task">Vivre avec les saisons</div>
          </div>

          <div class="element badge-tasks">
            <!-- <img src="https://via.placeholder.com/64" /> -->
            <div class="program-title-task">La santé d'abord</div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

</div>

