<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
 <div id="bottom-page">
  <div class="container no-space bkg-yellow">
    <div class="row">
      <div class="col-12">
        <div class="title-thema" id="tt-padtop">NOURRITURE</div>
        <div class="elements">

        <% @programs_food.each_with_index do |program, index| %>

          <div class="element">
            <div class="badge-tasks bt-yellow"></div>
            <div class="program-title-task"><%= program.title %></div>
            <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_food[index - 1].completed? %>
              <%= link_to "go", program_path(program) %>
            <% end %>
          </div>
        <% end %>
        </div> <!-- elements -->
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
  <div class="container no-space bkg-green">
    <div class="row">
      <div class="col-12">
        <div class="title-thema">DÉCHETS</div>
        <div class="elements">

        <% @programs_waste.each_with_index do |program, index| %>

          <div class="element">
            <div class="badge-tasks bt-green"></div>
            <div class="program-title-task"><%= program.title %></div>
            <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_waste[index - 1].completed? %>
              <%= link_to "go", program_path(program) %>
            <% end %>
          </div>
        <% end %>
        </div> <!-- elements -->
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
    <div class="container no-space bkg-blue">
    <div class="row">
      <div class="col-12">
        <div class="title-thema">ÉNERGIE</div>
        <div class="elements">

        <% @programs_energy.each_with_index do |program, index| %>

          <div class="element">
            <div class="badge-tasks bt-blue"></div>
            <div class="program-title-task"><%= program.title %></div>
            <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_energy[index - 1].completed? %>
              <%= link_to "go", program_path(program) %>
            <% end %>
          </div>
        <% end %>
        </div> <!-- elements -->
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
<!--
      CONDITIONS pour cliquer
      - programme démarré ou complété
      - 1er programme
      - précédent programme complété
 -->
  <div class="container no-space bkg-red">
    <div class="row">
      <div class="col-12">
        <div class="title-thema">TRANSPORT</div>
        <div class="elements">

        <% @programs_transport.each_with_index do |program, index| %>

          <div class="element">
            <div class="badge-tasks bt-red"></div>
            <div class="program-title-task"><%= program.title %></div>
            <% if ['ongoing', 'completed'].include?(program.status) || index == 0 || @programs_transport[index - 1].completed? %>
              <%= link_to "go", program_path(program) %>
            <% end %>
          </div>
        <% end %>
        </div> <!-- elements -->
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->

</div>

