  <h1><%= @program.title  %></h1>

  <ul>
    <% @tasks.each do |task| %>
    <li> <%= task.title %>
      <%= task.completed %>
        <%= task.status %>

        <% if task.status == 'ongoing' %>
  <%= link_to "Regarder", program_task_path(@program, task), class: "btn btn-ghost btn-border-blue"%>
      <% end %>
      </li>
    <% end %>
  </ul>
