<div class="container-task pt-5">
  <div class="program-header text-center">
    <h1 class="title-thema"><%= @program.title  %></h1>
    <p class="prog-head-sub-title program-desc mt-0"><%= french_pluralize @tasks_completed, 'défi réalisé', 'défis réalisés' %> sur <%= @program.tasks.count %></p>
  </div>
  <div class="container mt-5">
    <div class="row">
      <% @tasks.each_with_index do |task, index| %>
        <div class="<%= task_col_class(index, @tasks.size) %>">
          <% if task.completed %>
            <%= link_to program_task_path(@program, task), class: 'd-block mb-5 mt-5' do%>
              <div class="task-star task-star-completed mx-auto">
                <%= render 'icons/star' %>
              </div>
              <div class="mt-3 task-position-text text-center">- Défi nº<%= task.position %> -</div>
            <% end %>
          <% elsif task.status == 'ongoing' %>
            <%= link_to program_task_path(@program, task), class: 'd-block mb-5 mt-5' do%>
              <div class="task-star task-star-ongoing mx-auto">
                <%= render 'icons/star' %>
              </div>
              <div class="mt-3 task-position-text text-center">- Défi nº<%= task.position %> -</div>
            <% end %>
          <% else %>
            <div class="mb-5 mt-5">
              <div class="task-star task-star-locked mx-auto">
                <%= render 'icons/star' %>
              </div>
              <div class="mt-3 text-center task-position-text task-locked-text">- Défi nº<%= task.position %> -</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>


  <%#= task.title %>
  <%#= task.completed %>

      <%#= link_to "Valider", done_user_task_path(task.user_task_id), method: :patch, class: "btn btn-ghost btn-border-blue"%>
