  <h1><%= @program.title  %></h1>

  <ul>
    <% @tasks.each do |task| %>
    <li> <%= task.title %>
      <%= task.completed %>
        <%= task.status %>

        <% if task.status == 'ongoing' %>
          <%= link_to "Valider", done_user_task_path(task.user_task_id), method: :patch, class: "btn btn-ghost btn-border-blue"%>
        <% end %>

      </li>
    <% end %>
  </ul>
