<div class="container-task">
  <div class="program-content text-center pt-5">
  <h1><%= @program.title  %></h1>
  <hr width="50%"/>
  </div>
  <div class="container">
    <div class="row">
      <% @tasks.each_with_index do |task, index| %>
        <div class="<%= task_col_class(index, @tasks.size) %>">
          <div class="index-task"><%= index +1 %></div>
          <% if task.completed %>
            <%= link_to program_task_path(@program, task) do%>
              <div class="task-star task-star-completed mb-5 mt-5 mx-auto">
                <%= render 'icons/star' %>
              </div>
            <% end %>
          <% elsif task.status == 'ongoing' %>
            <%= link_to program_task_path(@program, task) do%>
              <div class="badge-task-ongoing mb-5 mt-5"></div>
            <% end %>
          <% else %>
            <div class="badge-task-locked mb-5 mt-5"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>


  <%#= task.title %>
  <%#= task.completed %>

      <%#= link_to "Valider", done_user_task_path(task.user_task_id), method: :patch, class: "btn btn-ghost btn-border-blue"%>
