<div class="navbar">

  <%= link_to dashboard_path do %>
    <div class="category item-1">
      <%= icon("fas", "home") %>
      <div class="label">ACCUEIL</div>
    </div>
  <% end %>


  <%= link_to programs_path do %>
    <div class="category item-2">
      <%= icon("fas", "book-open") %>
      <div class="label">DÉCOUVRIR</div>
    </div>
  <% end %>

  <%= link_to profile_path do %>
    <div class="category item-3">
      <%= icon("fas", "user") %>
      <div class="label">PROFIL</div>
    </div>
  <% end %>
</div>

