<div class="background-color-profile">

  <div id="bottom-page">
    <div class="pseudo text-capitalize" id="dash-ban"><%= current_user.pseudo %>
      <div ><%= cl_image_tag current_user.avatar, :class => "top-avatar bt-white" %></div>
    </div>

    <div class="container ">
      <%= link_to "Mon Profil", profile_path, class: " btn btn-unswitch-challenges"  %><%= link_to "Mes Amis ", friendships_path, class: " btn btn-switch-challenges"  %>

      <div class="title-thema icons-down">Mes amis</div>
      <div class="elements">

      <%  @friends.each do |friend| %>

        <div class="element">
          <div>
            <%= cl_image_tag friend.avatar, :class => "badge-avatar bt-white" %>
          </div>
        <div class="program-title-task text-capitalize"><%= friend.pseudo %></div>

      </div>
      <% end %>
    </div> <!-- elements -->

  <div class="title-thema icons-down">Mes demandes d'amis</div>
    <div class="elements mb-0">
    <% @friendships_pending.each do |friendship_pending| %>
      <div class="element">
        <div>
          <%= cl_image_tag friendship_pending.user.avatar, :class => "badge-avatar bt-white" %>
        </div>
      <div class="program-title-task text-capitalize"><%= friendship_pending.user.pseudo %></div>
      <%= link_to "Valider", accept_friendship_path(friendship_pending), method: :patch, class: "btn btn-friend-pending"%>

    <% end %>
    <%= link_to "Ajouter un ami", new_friendship_path, class: "btn btn-main btn-friends" %>
  </div>
  </div>
</div>

