<div>
  <div class="pseudo text-capitalize" id="dash-ban"><%= current_user.pseudo %>
    <%= cl_image_tag @current_user.avatar, :class => "big-avatar bt-white" %>
  </div>

  <div class="container bkg-line dash-bg respacing">
    <div class="title-thema spacing-margin">Mes programmes</div>
    <div class="elements">

      <% @programs_ungoing.each do |user_program| %>
        <%= link_to program_path(user_program.program), class: 'element' do %>
          <!-- <div class="element"> -->
            <div class="badge-tasks <%= current_badge(user_program.program.category) %>">
              <%= cl_image_tag user_program.program.icon, crop: :fill, height: 30 %>
            </div>
            <div class="program-title-task"><%= user_program.program.title %></div>
          <!-- </div> -->
        <% end %>
      <% end %>
    </div> <!-- elements -->
  </div> <!-- container -->

  <div class="container bkg-line respacing">
    <div class="title-thema spacing-margin" >Mes challenges</div>
    <div class="elements">

    <% @challenges_ungoing.each do |user_challenge| %>
      <%= link_to challenge_path(user_challenge.challenge), class: 'element' do %>
        <!-- <div class="element"> -->
          <div class="badge-tasks <%= current_badge(user_challenge.challenge.category) %>">
            <%= cl_image_tag user_challenge.challenge.icon, crop: :fill, height: 30 %>
          </div>
          <div class="program-title-task"><%= user_challenge.challenge.title %></div>
        <!-- </div> -->
      <% end %>
    <% end %>
    </div> <!-- elements -->
  </div> <!-- container -->

  <div class="container dash-bg respacing mb-5" id="no-bottom-room">
    <div class="title-thema spacing-margin">Challengers</div>
    <div class="elements">
      <% @challengers.each do |challenger| %>
        <%= link_to challenge_path(challenger.user_challenge.challenge), class: 'element' do %>
          <!-- <div class="element"> -->
            <%= cl_image_tag challenger.user_challenge.user.avatar, :class => "badge-avatar bt-white" %>
            <div class="program-title-task text-capitalize">
              <%= challenger.user_challenge.user.pseudo %>
            </div>
          <!-- </div> -->
        <% end %>
      <% end %>
    </div> <!-- elements -->
  </div> <!-- container -->
</div>
