<h1>Dashboard</h1>

<%= current_user.avatar %>
<%= current_user.pseudo %>


<h2>programme en cours</h2>
<% @programs_ungoing.each do |user_program| %>
<%= user_program.program.title %>
<% end %>

<h2>challenge en cours</h2>
<% @challenges_ungoing.each do |user_challenge| %>
<%= user_challenge.challenge.title %>
<% end %>

<h2>challenger</h2>
<% @challengers.each do |challenger| %>
<%= challenger.user_challenge.user.pseudo %>
<% end %>
