<div class="d-flex justify-content-between"id="dash-ban">
  <div class="pseudo text-capitalize txt-24 pt-4"><%= current_user.pseudo %>
    <div class="score"><%= current_user.points %> / <%= current_user.next_level %> <span class="score_pts">pts</span></div>
    <%= cl_image_tag @current_user.avatar, :class => "big-avatar bt-white" %>
  </div>
  <div class="d-flex align-items-center mr-9"><svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32.9375 12.5851L26.791 18.8776C25.4773 20.2049 24.8673 22.1222 25.1958 24.0395L26.6503 32.9375L19.0493 28.7589C18.2517 28.3164 17.3602 28.0706 16.4687 28.0706C15.5773 28.0706 14.6858 28.3164 13.8882 28.7589L6.28721 32.9375L7.74172 24.0395C8.07016 22.1714 7.4602 20.2049 6.14646 18.8776L0 12.5851L8.44551 11.3069C10.2754 11.0119 11.8237 9.83209 12.6213 8.11147L16.4218 0L20.2223 8.06231C21.0199 9.78293 22.6152 10.9628 24.3981 11.2577L32.9375 12.5851Z" fill="#FFCA00"/></svg>
    <p class="score score_pts_star"><%= current_user.level %></p>
  </div>
</div>

<div class="bkg-line dash-bg respacing" id="no-bottom-room">
  <div class="title-thema spacing-margin">Mes programmes</div>
  <% if @programs_ungoing.empty? %>
    <p class="text-center thema-details">Ajouter un programme</p>
  <% else %>
  <div class="elements">
    <% @programs_ungoing.each do |user_program| %>
      <%= link_to program_path(user_program.program), class: 'element' do %>
        <div class="badge-tasks <%= current_badge(user_program.program.category) %>">
          <%= cl_image_tag user_program.program.icon, crop: :fill, height: 30 %>
        </div>
        <div class="program-title-task"><%= user_program.program.title %></div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
  <% end %>
</div> <!-- container -->

<div class="bkg-line respacing" id="no-bottom-room">
  <div class="title-thema spacing-margin" >Mes challenges</div>
  <% if @challenges_ungoing.empty? %>
    <p class="text-center thema-details">Ajouter un challenge</p>
  <% else %>
  <div class="elements">
    <% @challenges_ungoing.each do |user_challenge| %>
      <%= link_to challenge_path(user_challenge.challenge), class: 'element' do %>
        <div class="badge-tasks <%= current_badge(user_challenge.challenge.category) %>">
          <%= cl_image_tag user_challenge.challenge.icon, crop: :fill, height: 30 %>
        </div>
        <div class="program-title-task"><%= user_challenge.challenge.title %></div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
  <% end %>
</div> <!-- container -->

<div class="dash-bg respacing mb-5" id="no-bottom-room">
  <div class="title-thema spacing-margin">Challengers</div>
  <% if @challengers.empty? %>
    <p class="text-center thema-details">Vous n'avez pas reçu d'invitation !</p>
  <% else %>
  <div class="elements">
    <% @challengers.each do |challenger| %>
      <%= link_to challenge_path(challenger.user_challenge.challenge), class: 'element' do %>
          <%= cl_image_tag challenger.user_challenge.user.avatar, :class => "badge-avatar bt-white" %>
          <div class="program-title-task text-capitalize">
            <%= challenger.user_challenge.user.pseudo %>
          </div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
  <% end %>
</div> <!-- container -->
