<div class="container">
  <h2>Nourriture</h2>
  <% @challenges_food.each do |challenge| %>
    <%= link_to challenge_path(challenge) do %>
      <%= challenge.title %>
      <%#= challenge.status %>
  <%#= cl_image_tag challenge.photo, height: 200, width: 300, crop: :fill%>
    <% end %>
  <% end %>

  <h2>Déchets</h2>
  <% @challenges_waste.each do |challenge| %>
     <%= link_to challenge_path(challenge) do %>
      <%= challenge.title %>
      <%#= challenge.status %>
  <%#= cl_image_tag challenge.photo, height: 200, width: 300, crop: :fill%>
    <% end %>
  <% end %>

  <h2>Energie</h2>
  <% @challenges_energy.each do |challenge| %>
    <%= link_to challenge_path(challenge) do %>
      <%= challenge.title %>
      <%#= challenge.status %>
  <%#= cl_image_tag challenge.photo, height: 200, width: 300, crop: :fill%>
    <% end %>
  <% end %>

  <h2>Transport</h2>
  <% @challenges_transport.each do |challenge| %>
    <%= link_to challenge_path(challenge) do %>
      <%= challenge.title %>
      <%#= challenge.status %>
  <%#= cl_image_tag challenge.photo, height: 200, width: 300, crop: :fill%>
    <% end %>
  <% end %>
</div>
