 <div id="bottom-page">
  <div class="pseudo text-capitalize" id="dash-ban"><%= current_user.pseudo %>
    <div ><%= cl_image_tag current_user.avatar, :class => "top-avatar bt-white" %></div>
  </div>

  <div class="container bkg-yellow">
      <%= link_to "Programmes", programs_path, class: "btn btn-unswitch-challenges"  %><%= link_to "Challenges ", challenges_path, class: " btn btn-switch-challenges"  %>

    <div class="title-thema adjust-badge-pos" id="minus-pad-top">Nourriture</div>
    <div class="elements">

      <% @challenges_food.each do |challenge| %>
        <%= link_to challenge_path(challenge) do %>
      <div class="element">
        <div class="badge-tasks bt-yellow">
          <%= cl_image_tag challenge.icon, crop: :fill, height: 30 %>
        </div>
        <div class="program-title-task"><%= challenge.title %></div>
<!--       <%#= current_challenger(challenge).status %>
-->      <%#= challenge.status %>
        <%#= cl_image_tag challenge.photo, height: 200, width: 300, crop: :fill%>
      </div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
</div>

 <div class="container bkg-green">
    <div class="title-thema adjust-badge-pos">Déchets</div>
    <div class="elements">

    <% @challenges_waste.each do |challenge| %>

    <%= link_to challenge_path(challenge) do %>
      <div class="element">
        <div class="badge-tasks bt-green">
          <%= cl_image_tag challenge.icon, crop: :fill, height: 30 %>
          </div>
        <div class="program-title-task"><%= challenge.title %></div>
      </div>
    <% end %>
  <% end %>
  </div> <!-- elements -->
</div>

  <div class="container bkg-blue">
    <div class="title-thema adjust-badge-pos">Énergie</div>
    <div class="elements">

      <% @challenges_energy.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>

      <div class="element">
        <div class="badge-tasks bt-blue">
            <%= cl_image_tag challenge.icon, crop: :fill, height: 30 %>
        </div>
      <div class="program-title-task"><%= challenge.title %></div>
     </div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
</div>


  <div class="container bkg-red">
    <div class="title-thema adjust-badge-pos">Transport</div>
    <div class="elements">

    <% @challenges_transport.each do |challenge| %>
    <%= link_to challenge_path(challenge) do %>

      <div class="element">
        <div class="badge-tasks bt-red">
          <%= cl_image_tag challenge.icon, crop: :fill, height: 30 %>
        </div>
      <div class="program-title-task"id="bottom-page"><%= challenge.title %></div>
     </div>
      <% end %>
    <% end %>
  </div> <!-- elements -->
</div>
