<% if @challenge.category == "Déchets" %>
  <div class="wrapper background-color-program-waste">
  <% elsif @challenge.category == "Nourriture" %>
  <div class="wrapper background-color-program-food">
  <% elsif @challenge.category == "Transport" %>
  <div class="wrapper background-color-program-transport">
  <% else %>
  <div class="wrapper background-color-program-energy">
  <% end %>
    <div class="challenge-content text-center">
    <%= cl_image_tag @challenge.picture, :class => "program_image" %>
    <h1 class="title-thema"><%= @challenge.title  %></h1>
    <hr width="50%"/>
    <p class="program-desc"><%= @challenge.description %></p>
  <%= simple_form_for [@challenge, @user_challenge] do |f| %>
      <fieldset class="form-group radio_buttons optional user_challenge_duration">
        <input type="hidden" name="user_challenge[duration]" value="">
        <% UserChallenge::DURATIONS.each do |duration| %>
          <div class="form-check form-check-inline">
            <div class= "btn-day-inact">
              <input class="form-check-input radio_buttons optional" type="radio" value="<%= duration %>" name="user_challenge[duration]" id="user_challenge_duration_<%= duration %>">
              <label class="form-check-label collection_radio_buttons" for="user_challenge_duration_<%= duration %>"><%= duration %> jours</label>
            </div>
          </div>
        <% end %>
     </fieldset>
    <%= link_to "inviter un ami", new_friendship_path, class: "btn btn-main", style:"padding: 3px 30px" %>
    <%= f.button :submit, "Commencer", class: "reservation-submit btn btn-main" %>
  <% end %>
</div>

