<div class="container">
  <h1><%= @challenge.title  %></h1>
  <p><%= @challenge.description %></p>
  <%#= cl_image_tag @program.picture, height: 200, width: 300, crop: :fill%>
  <%= simple_form_for [@challenge, @user_challenge] do |f| %>
      <fieldset class="form-group radio_buttons optional user_challenge_duration">
        <input type="hidden" name="user_challenge[duration]" value="">
        <% UserChallenge::DURATIONS.each do |duration| %>
          <div class="form-check form-check-inline">
            <div class= "btn-day-inact">
              <input class="form-check-input radio_buttons optional" type="radio" value="<%= duration %>" name="user_challenge[duration]" id="user_challenge_duration_<%= duration %>">
              <label class="form-check-label collection_radio_buttons" for="user_challenge_duration_<%= duration %>"><%= duration %> jours</label>
            </div>
          </div>
        <% end %>
     </fieldset>
    <%= f.button :submit, "Commencer", class: "reservation-submit btn btn-main" %>
  <% end %>
</div>

