<div class="container">
  <%= link_to challenges_path,  class: 'btn btn-light-main back-btn' do %>
    <i class="fas fa-angle-double-left"></i>
    <span>Retour</span>
  <% end %>
<br>
<%= (Date.today - @challenger.user_challenge.start_date).to_i + 1 %>/<%= @challenger.user_challenge.duration %>

<h2><%= @challenger.user_challenge.challenge.title %></h2>
<p><%= @challenger.user_challenge.challenge.description %></p>

  <%= link_to "J’ai craqué", abort_challenger_path(@challenger), method: :patch, class: "btn btn-main"  %>


</div>
