<div class="container">
  <%= link_to challenges_path,  class: 'btn btn-light-ghost back-btn' do %>
    <i class="fas fa-angle-double-left"></i>
    <span>Retour</span>
  <% end %>
  <br>
  <h2><%= @challenger.user_challenge.challenge.title %></h2>
  <p><%= @challenger.user_challenge.challenge.description %></p>

  TU ES INVITE !!!

  <%= link_to "Accepter", accept_challenger_path(@challenger), method: :patch, class: "btn btn-primary"  %>
  <%= link_to "Refuser", decline_challenger_path(@challenger), method: :patch, class: "btn btn-primary"  %>

</div>
