<div class="container background-color-ongoing">
  <%= link_to challenges_path do %>
    <i class="far fa-times-circle fa-2x"></i>
  <% end %>
 <!-- <div class="wrapper"> -->
  <!-- </div> -->

  <div class="d-flex flex-column d-flex align-items-center ml-4">
    <div class="daycount d-flex align-items-center mt-5" id="daycount-color">
      <h1 id="big-number">
        <strong>
          <%= (Date.today - @challenger.user_challenge.start_date).to_i + 1 %>
        </strong>
      </h1>
      <p>/<%= @challenger.user_challenge.duration %></p>
    </div>
    <h2 class="title-modal top-pad">
      <%= @challenger.user_challenge.challenge.title %>
    </h2>
    <p class="adjust-desc-margin thema-details mb-4">
      <%= @challenger.user_challenge.challenge.description%>
    </p>
         <p class="program-desc">Mes challengers :</p>
  </div>
    <div class="d-flex justify-content-center align-items-center">
      <% @friends_challengers.each do |challenger| %>
        <div class="mx-2">
          <div class="d-flex justify-content-center align-items-center">
              <div class="element">
            <%= cl_image_tag challenger.friend.avatar, :class => "badge-avatar bt-white" %>
            <div class="program-title-task text-capitalize"><%= challenger.friend.pseudo %></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to "J'ai craqué", abort_challenger_path(@challenger), method: :patch, class: "btn btn-main"  %>
    </div>
</div>
